#inputs{
    text-align: center;
    font-family: monospace;
    font-size: 30px;
}

.label{
    vertical-align: middle;
}

.box{
    width: 50px;
    height: 30px;
    font-family: monospace;
    font-size: 20px;
    border-color: black;
    border-style: solid;
    border-radius: 0px;
    border-width: 1px;
}

#ratio{
    width: 75px;
}

#save{
    vertical-align: middle;
    font-family: monospace;
    font-size: 20px;
    width: 50;
    height: 36px;
    border-style: solid;
    border-radius: 0px;
    border-width: 1px;
    background-color: white;
}

#save:hover{
    cursor: pointer;
    background-color: lightgray;
}

#save:active{
    cursor: pointer;
    background-color: gray;
}